<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="CMGT Module Web(Technology) Assignments">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 5.3: Combining Fluid and Media Query</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<h6 hidden>bodyTitle</h6>
	<div class="container">
		<header>
			<ul>
				<li><a href="#">One</a></li><li><a href="#">Two</a></li><li><a href="#">Three</a></li><li><a href="#">Four</a></li><li><a href="#">Five</a></li>
			</ul>
		</header>
		<main>
			<h1>Advice on Writing from Emily Dickinson’s Editor</h1>
			<p>“Oftentimes a word shall speak what accumulated volumes have labored in vain to utter: there may be years of crowded passion in a word, and half a life in a sentence.”</p>
		</main>
	</div>
</body>
</html>