<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="CMGT Module Web(Technology) Assignments">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 4.1: Inline & block</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h6 hidden>bodyTitle</h6>
	<section class="blockElements">
        <h3 hidden> ulTitle</h3>
		<ul>
			<li>One</li>
			<li>Two</li>
			<li>Three</li>
			<li>Three</li>
			<li>Four</li>
			<li>Five</li>
		</ul>
	</section>

	<section class="inlineElements">
        <h3 hidden> aTitle</h3>
		<a href="#">One</a>
		<a href="#">Two</a>
		<a href="#">Three</a>
		<a href="#">Four</a>
		<a href="#">Five</a>
	</section>

	<section class="inlineBlockElements">
        <h3 hidden> aibTitle</h3>
		<a href="#">One</a>
		<a href="#">Two</a>
		<a href="#">Three</a>
		<a href="#">Four</a>
		<a href="#">Five</a>
	</section>
</body>
</html>