body,
div,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #AAAAAA;
    padding: 0 18px;
}

div.container {
    padding: 18px;
    margin: 18px auto 0;
    background-color: #FFFFFF;
}

main {
    padding: 32px 0 18px;
}

li {
    display: inline;
}

a {
    padding: 12px;
    border-left: 2px solid #FFFFFF;
}

li:first-of-type a {
    border-left: none;
}

p {
    margin: 24px 0 0 0;
}