<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="description" content="CMGT Module Web(Technology) Assignments">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 4.11: BBC - Future - The pilot who stole a secret Soviet fighter jet</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <section id="topMenu">
        <header id="topHeader">
            <img src="./images/bbc.png" alt="BBCLogo">
            <nav id="topNav">
                <ul id="topList">
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Weather</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Earth</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">More</a></li>
                </ul>
                <input type="text" value="Search">
            </nav>
        </header>

    </section>

    <section id="themeMenu">
        <img src="./images/mig.jpg">
        <nav id="themeNav">
            <h2>Future</h2>
            <ul id="themeList">
                <li><a href="#">What is BBC future?</a></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">In Depth</a></li>
                <li class="special">
                    <a href="#" class="red">
                        <div>Speciel Series</div>
                        <div>Sexual Revolutions</div>
                    </a>
                    <a href="#" class="purple">
                        <div>Our Picks</div>
                        <div>Best of Future</div>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <main>
        <article id="mainArticle">
            <header id="articleHeader">
                <a href="#">In Depth | Aircraft</a>
                <h2>The pilot who stole a secret soviet fighter</h2>

            </header>
            <p>
                When pilot Viktor Belenko defected 40 years ago, he did so in a mysterious Soviet plane – the MiG-25. BBC Future investigates the far-reaching effects of one of the Cold War’s most intriguing events.
            </p>
            <p><strong>By Stephen Dowling</strong><br />
                <time datetime="2016-09-05">5 September 2016 </time></p>


            <p>On 6 September 1976, an aircraft appears out of the clouds near the Japanese city of Hakodate, on the northern island of Hokkaido. It’s a twin-engined jet, but not the kind of short-haul airliner Hakodate is used to seeing. This huge, grey
                hulk sports the red stars of the Soviet Union. No-one in the West has ever seen one before.
            </p>
            <p>
                The jet lands on Hakodate’s concrete-and-asphalt runway. The runway, it turns out, is not long enough. The jet ploughs through hundreds of feet of earth before it finally comes to rest at the far end of the airport.
            </p>
            <p>
                The pilot climbs out of the plane’s cockpit and fires two warning shots from his pistol – motorists on the road next to the airport have been taking pictures of this strange sight. It is some minutes before airport officials, driving from the terminal,
                reach him. It is then that the 29-year-old pilot, Flight Lieutenant Viktor Ivanovich Belenko of the Soviet Air Defence Forces, announces that he wishes to defect.
            </p>
            <p>
                It is no normal defection. Belenko has not wandered into an embassy, or jumped ship while visiting a foreign port. The plane that he has flown 400-odd miles, and which now sits stranded at the end of a provincial Japanese runway, is the Mikoyan-Gurevich
                MiG-25. It is the most secretive aircraft the Soviet Union has ever built.
            </p>
        </article>
    </main>


</body>

</html>