<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="CMGT Module Web(Technology) Assignments">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 5.8: The Power of Flex</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<h6 hidden>bodyTitle</h6>
        <div class="container">
            <header>Header</header>
            <main>
                <h1>test</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
            </main>
            <aside class="aside_1"><h6 hidden>aside1Title</h6>Aside 1</aside>
            <aside class="aside_2"><h6 hidden>adide2Title</h6>Aside 2</aside>
            <footer>Footer</footer>
        </div>

    </body>
</html>