*{
    margin:0;
    padding:0;
}
main {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    font-size:0px;
    height:100vh;
}

main figure{
    border: 5px solid black;
    margin:10px;
    flex:0 0 400px;
    height:400px;
}