<!DOCTYPE html>
<html>
    <head>
        <title> WebSite Numero Uno</title>
    </head>
    <body>
        <h1> Hello World! </h1>
        <p> Some text in paragraph </p>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
        </ul>
        <img src="kaneda-bike.jpg" alt="bike">
        <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Openning in the same window </a></p>
        <p><a href="https://www.reddit.com/r/RDR2/comments/hw1r74/thank_for_listening_rains_fall/" target="_blank"> Openning in a new window </a></p>


        <h1> SEMANTIC ELEMENTS </h1>
        <figure>
            <img src="kaneda-bike.jpg" alt="bike">
            <figcaption> Fig.1 - Kaneda on his Bike - Akira (アキラ) 1988</figcaption>
        </figure>
    </body>
</html>
