a {
    padding: 10px;
    border-left: 2px solid #CCCCCC;
    background-color: #000000;
    color: white;
    text-decoration: none;
}

a:first-of-type {
    border-left: none;
    border-top: none;
}

a:hover {
    color: #000000;
    background-color: #FFAAAA;
}

@media screen and (max-width: 960px) {
    a {
        width: 100vw;
        display: block;
        border-top: 2px solid #CCCCCC;
        border-left: none;
    }
}