<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="CMGT Module Web(Technology) Assignments">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 4.2: Position absolute</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1 hidden> bodyTitle</h1>
        <section>
            <h2 hidden>noTouchTitle</h2>
            Can't touch this!
        </section>
    </body>
</html>