<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="CMGT Module Web(Technology) Assignments">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 4.5: Position absolute</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h6 hidden>bodyTitle</h6>
	<section class="formContainer">
        <h1 hidden>formTitle</h1>
		<form action="#" method="post">
			<input type="text" name="name" placeholder="Your name" />
			<input type="text" name="email" placeholder="Your email" />
			<textarea name="message" placeholder="Your message"></textarea>
			<button name="submit" type="submit">Send Message</button>
			<span class="close"><a href="#">X</a></span>
		</form>
	</section>
</body>
</html>